html {
    font-family: Lato,sans-serif;
}

.parallax-container {
    height: 100%;
}
        
.brand-logo{
	font-weight: 300;
}

.nav-container {
	padding-left: 100px;
	padding-right: 100px;
}

.logo-picture{
	width: 50px;
	height: auto;
	padding-top: 10px;
}

.login-btn-container{
	padding-top: 15px;
}

.login-btn{
	background-color: #D1DBBD;
}

.signup-btn{
	background-color: #FF856F;
}

.big_header_container{
	padding-top: 80px;
	padding-left: 100px;
	padding-right: 100px;
}

.big_header{
	font-size: 5em;
	font-weight: 100;
	color: white;
}

.small_header_container{
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 300px;
}
.small_header{
	font-size: 2em;
	font-weight: 300;
	color: white;
}