<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>Web Audio API</title>
</head>

<body>
 
  
  <button onclick ="startNow()">Start</button>
  <button onclick ="stopNow()">Stop</button>
<input id="location" type="range"  min="0" max="100" value="0"/>


<button onclick="record()">Record</button>
<button onclick="stop()">Stop</button>
<button onclick="playbackRecorderAudio()">Playback Recording</script>
<button onclick="layerRecording()">Upload Recording</script>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="static/js/bufferloader.js"></script>
 <script src="static/js/loadAndPlay.js"></script>
 <script src="static/js/recorder.js"></script>
<script src="static/js/liveRecord.js"></script>
<script src="static/js/recordCountdown.js"></script>


</body>
</html>