<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<link rel="stylesheet" type="text/css" href="static/myStyle.css">
<title>Web Audio API</title>
</head>

<body>
 
  
  <button id="playButton" onclick ="togglePlay()">Start/Stop</button>
<input id="location" type="range"  min="0" max="100" value="0"/>

<button onclick="toggleRecord()">Start/Stop Recording</button>

<button onclick="playbackRecorderAudio()">Playback Recording</button>
<button onclick="layerRecording()">Upload Recording</button>

<div id="VolumeBox">Volume Tracks</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="static/js/bufferloader.js"></script>
 <script src="static/js/loadAndPlay.js"></script>
 <script src="static/js/recorder.js"></script>
<script src="static/js/liveRecord.js"></script>
<script src="static/js/recordCountdown.js"></script>
<script src="static/js/setViewVolume.js"></script>


</body>
</html>