<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>MusicWebs</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="/static/js/init.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>
  <body>
    {% for message in get_flashed_messages() %}
      <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
      <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="{{url_for('home.home_page')}}" class="brand-logo">MusicWebs</a></div>

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                
              	<li><div class="new-track-btn-container">
                  <a href="{{ url_for('track.new_track') }}" class="login-btn right waves-effect waves-light btn">New Track</a>
                </div></li>
                 <li><a href="{{ url_for('track.all_tracks')}}">Discover Tracks</a></li>
                {% if current_user.is_authenticated %}
  					<li><a href="{{url_for('user.findUser',username=current_user.username)}}"><i class="material-icons">perm_identity</i></a></li>
            <li>{{current_user.username }}</li>
            <li><a href="{{ url_for('login.logout') }}">logout </li></a>
				{% endif %}
                {% if not current_user.is_authenticated %}
                <li><div class="login-btn-container">
                  <a href="{{ url_for('login.oauth_authorize', provider='facebook') }}" class="login-btn right waves-effect waves-light btn">Login</a>
                </div></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </div>
  <nav>
    <div class="nav-wrapper white">

      <form id = "SearchForm" action="{{ url_for('track.search')}}" method = "post">
        <div class="input-field">
           <input id = "search" type="search" type="text" placeholder = "Search For Tracks" name="search" required />
          <label for="search"><i class="material-icons grey-text">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>

    </div>
  </nav>

      <div class="container">
      	<div class="row">
			   <div class="col s6">

                <h3>All Available Tracks {%if search != "" %} ({{search}}) {% endif %} </h3>
                 {%for track in tracks %}
                      <br>
                         <a href="{{ url_for('track.track_page', trackID=track.id) }}">
                        <div class = "# white-text card-panel trackBox"> 
                        <h4>{{track.trackName}}</h4>
                        <ul>
                          <li> Original Artist: {{track.originalArtist}}
                          <li> Created by: {{track.createdBy}}
                        </ul> 
                      </div>
                      </a>

                 {% endfor %}
      

          </div>
          <div class="col s6"></div>

		    </div>

      </div>

  </body>
</html>
