{% extends "navbar.html" %} 
{% block content %} 


  <div class="parallax-container" style="height:500px">
  	   <div class="parallax"><img src="/static/img/drums.jpg"></div>
  </div>

<div class="section white">
	<div id="howItWorks">
    <p class = "center-align"> How it works </p>
  </div>
  <div class="container">   
    <h4 class="center-align howtoHeader"> Create a New Track </h4>
    <p class="center-align">
      Navigate to the New Track page. Enter the <i>Name of Track</i> (i.e. Single Ladies) and <i>Original Artist</i> (i.e. Beyoncé). These two fields will help other users looking to collaborate on specific songs find your track. Selecting <i>Hidden</i> will prevent your track from turning up when searched. However, it will still be accessible from your account and by anyone with the URL. This feature is useful for private collaborations. Finally, to create the track you can either record directly from your browser by hitting <i>Add Recording for New Track</i> or you can upload a music file to start the track by selecting <i>Upload Audio to Start Track</i>
    </p>
    <img class="z-depth-2 responsive-img" src="/static/img/howto1.png">
    <p class="center-align">
      If you select <i>Add Recording for New Track</i> you will hear a 3 second countdown, after which the recording will begin. Once you are done recording, select <i>Add Recording for New Track</i> again to stop recording. The following waveform will then be displayed. Hit <i> Space </i> to play the recording and decide if you are satisfied with it. If you are not, you many <i> Delete Recording</i> and try again, or <i>Save Recording</i> as a new track.
    </p>
    <img class="z-depth-2 responsive-img" src="/static/img/howto2.png">

  </div>
</div>

  <div class="parallax-container" style="height:300px">
    <div class="parallax"><img src="/static/img/piano.jpg"></div>
  </div>


<!--Adding A Harmony --> 
  <div class="section white">
  <div class="container">   
    <h4 class="center-align howtoHeader"> Adding Harmonies </h4>
    <p class="center-align">
      Note: you must be logged in to create a new track <br>
      Navigate to the New Track page. Enter the <i>Name of Track</i> (i.e. Single Ladies) and <i>Original Artist</i> (i.e. Beyoncé). These two fields will help other users looking to collaborate on specific songs find your track. Selecting <i>Hidden</i> will prevent your track from turning up when searched. However, it will still be accessible from your account and by anyone with the URL. This feature is useful for private collaborations. Finally, to create the track you can either record directly from your browser by hitting <i>Add Recording for New Track</i> or you can upload a music file to start the track by selecting <i>Upload Audio to Start Track</i>
    </p>
    <img class="z-depth-2 responsive-img" src="/static/img/howto1.png">
    <p class="center-align">
      If you select <i>Add Recording for New Track</i> you will hear a 3 second countdown, after which the recording will begin. Once you are done recording, select <i>Add Recording for New Track</i> again to stop recording. The following waveform will then be displayed. Hit <i> Space </i> to play the recording and decide if you are satisfied with it. If you are not, you many <i> Delete Recording</i> and try again, or <i>Save Recording</i> it as a new track.
    </p>
    <img class="z-depth-2 responsive-img" src="/static/img/howto2.png">

  </div>
</div>

{% endblock %}