{% extends "navbar.html" %} 
{% block content %} 


  <div class="parallax-container" style="height:500px">
  	   <div class="parallax"><img src="/static/img/drums.jpg"></div>
  </div>

<div class="section howToSection z-depth-5">
	<div id="howItWorks">
    <p class = "center-align"> How it works </p>
  </div>
  <div class="container">   
    <h4 class="center-align howtoHeader"> Create a New Track </h4>
    <p class="center-align">
      Navigate to the New Track page. Enter the <i>Name of Track</i> (i.e. Single Ladies) and <i>Original Artist</i> (i.e. Beyoncé). These two fields will help other users looking to collaborate on specific songs find your track. Selecting <i>Hidden</i> will prevent your track from turning up when searched. However, it will still be accessible from your account and by anyone with the URL. This feature is useful for private collaborations. Finally, to create the track you can either record directly from your browser by hitting <i>Add Recording for New Track</i> or you can upload a music file to start the track by selecting <i>Upload Audio to Start Track</i>
    </p>

    <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto1.png">
  </div>

    <p class="center-align">
      If you select <i>Add Recording for New Track</i> you will hear a 3 second countdown, after which the recording will begin. Once you are done recording, select <i>Add Recording for New Track</i> again to stop recording. The following waveform will then be displayed. Hit <i> Play </i> to play the recording and decide if you are satisfied with it. If you are not, you many <i> Delete Recording</i> and try again, or <i>Save Recording</i> as a new track.
    </p>

    <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto2.png">
  </div>

  </div>
</div>

  <div class="parallax-container" style="height:400px">
    <div class="parallax"><img src="/static/img/piano.jpg"></div>
  </div>


<!--Adding A Harmony --> 
  <div class="section howToSection z-depth-5">
  <div class="container">   
    <h4 class="center-align howtoHeader"> Adding Harmonies </h4>
    <p class="center-align">
      Note: you must be logged in to add harmonies <br>
     Navigate to a track page. Click to seek to the location where you want to start recording from. You can also just record from the beginning of the track. Hit <i>Start/Stop Recording</i>. You will be given a 3 second countdown and then recording will begin at the location of the trackbar. <em> Headphones and a mic are strongly suggested for recording to avoid feedback. </em> To finish recording hit <i>Start/Stop Recording</i>.
    </p>

    <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto3.png">
  </div>

    <p class="center-align">
      After you are finished recording, the waveform will then be displayed. Play the recording and decide if you are satisfied with it. If you are not, you many <i> Delete Recording</i> and try again, or <i>Save Recording</i> to the track as an additional layer.
    </p>

     <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto4.png">
    </div>

    <p class="center-align">
      If you decide to save the harmony, the following prompt will be displayed. Enter a descriptive name for the harmony and hit <i>Save</i>.
    </p>

<div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto5.png">
</div>

  </div>
</div>

<div class="parallax-container" style="height:400px">
    <div class="parallax"><img src="/static/img/sax.jpg"></div>
  </div>



<!-- Editing Tracks --> 
<div class="section howToSection z-depth-5">
  <div class="container">   
    <h4 class="center-align howtoHeader"> Editing Tracks </h4>
    <p class="center-align">
      Note: you must be logged in to edit tracks <br>
     Navigate to a track page. All layers can be muted, whether or not you are logged in. To <i> Delete Layer </i>, if you are the owner of the track, you can delete any layer associated with the track. If you are not the creator of the track, you can only delete your own layers. In the following example, since the track creator is "Noah Zweben", and I am logged in as itchynose27, I am only able to delete the <i>low chorus harmony</i> layer because I recorded it. This feature ensures that the original creator of a track has the final say on the harmonies included in the track.<br>
     <i> Please note that deleting layers and tracks cannot be undone</i>
    </p>

    <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto6.png">
  </div>
    <p class="center-align">
      If you are the creator of a track, you may also delete the entire track.
    </p>

    <div class = "row center">
    <img class="z-depth-2 responsive-img" src="/static/img/howto7.png">
    </div>
  </div>
</div>
{% endblock %}