<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>MusicWebs</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="/static/js/init.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen,projection"/>
  </head>
  <body>
    {% for message in get_flashed_messages() %}
      <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
    <div class="parallax-container">

      <div class="navbar-fixed">
        <nav class="transparent">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="{{url_for('home.home_page')}}" class="brand-logo">MusicWebs</a></div>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="{{ url_for('track.all_tracks')}}">Discover Tracks</a></li>
                <li><div class="login-btn-container">
                  <a href="{{ url_for('login.oauth_authorize', provider='facebook') }}" class="login-btn right waves-effect waves-light btn">Login</a>
                </div></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <div class="valign">
        <div class="section no-pad-bot">
          <div class="big_header_container">
            <div class="row center">
              <h5 class="header col s12 big_header left-align">Collaborate with musicians around the world</h5>
            </div>
          </div>
          <div class="small_header_container">
            <div class="row center">
              <h3 class="header col s12 small_header left-align">MusicWebs is a way to upload your tracks, add tracks to other songs, and share your results with the world.</h3>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row center">
            <a href="{{ url_for('login.oauth_authorize', provider='facebook') }}" class="signup-btn center waves-effect waves-light btn-large">Get Started with Facebook</a>
          </div>
        </div>
      </div>
      <div class="parallax"><img src="/static/img/background.png"></div>
    </div>
  </body>
</html>