<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css') }}">
<title>Web Audio API</title>
</head>

<body>
Name of Track </br>
<input type="text" id = "nameForm"/>

<button onclick="toggleRecord()">Add Recording for New Track</button>
<button onclick="newTrack()">Create New Track</buttuon>

<div id="wave"></div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script src="{{ url_for('static', filename='js/wavesurferMyEdits.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

 <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/newTrack.js') }}"></script>
<script src="{{ url_for('static', filename='js/recordCountdown.js') }}"></script>


</body>
</html>
