<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>MusicWebs</title>

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script src="/static/js/init.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/css/materialize.min.css">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>


{% for message in get_flashed_messages() %}
      <p><b>Error</b>: {{ message }}</p>
    {% endfor %}
      <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
          <div class="nav-wrapper">
            <div class="nav-container">
              <div><a href="{{url_for('home.home_page')}}" class="brand-logo">MusicWebs</a></div>

              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><div class="new-track-btn-container">
                  <a href="{{ url_for('track.new_track') }}" class="login-btn right waves-effect waves-light btn">New Track</a>
                </div></li>
                <li><a href="{{ url_for('track.all_tracks')}}">Discover Tracks</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href=""><i class="material-icons">perm_identity</i></a></li>
            <li>{{current_user.username }}</li>
            <li><a href="{{ url_for('login.logout') }}">logout </li></a>
                    {% endif %}

                {% if not current_user.is_authenticated %}
                <li><div class="login-btn-container">
                  <a href="{{ url_for('login.oauth_authorize', provider='facebook') }}" class="login-btn right waves-effect waves-light btn">Login</a>
                </div></li>
                {% endif %}
              
              </ul>
            </div>
          </div>
        </nav>
      </div>

<div class = "container row">


 <div class="input-field">
 <h5>Name of Track</h5>
<input class = "validate" type="text" id = "nameForm" placeholder =" e.g Single Ladies"/>
</div>

 <div class="input-field">
<h5>Original Artist</h5>
<input class = "validate"  type="text" id = "artistForm" placeholder =" e.g Beyonce or Original"/>
</div>

<div class = "input-field">
<h5> Keep Hidden </h5> 
hidden tracks will only be accesible by the creator and people with the link, use this feature for private collaborations
<br><input type="checkbox" id = "hiddenBox"/><label for="hiddenBox">Hidden</label>
</div>

<br>
<button class = "waves-effect deep-orange lighten-2 waves-light btn" id = "recordButton" onclick="toggleRecord()">Add Recording for New Track</button>


<div id = "layerInfo"> 
	<div id = "container"></div>
	 <div id="wave"></div>
</div>



</div> 
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>-->
<script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script> 

<script src="{{ url_for('static', filename='js/wavesurferMyEdits.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>

 <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/newTrack.js') }}"></script>
<script src="{{ url_for('static', filename='js/recordCountdown.js') }}"></script>


</body>
</html>
