{% extends "navbar.html" %} 
{% block content %} 


<div class = "row">
  <div class = "col s11 offset-s1">
     <h2>{{track.trackName}}</h2>
     <h5> opb: {{track.originalArtist}}</h5>
        <div class="js-data"
            data-id="{{ track.id }}">
        </div>
     <h5>Track owner: <a href="{{url_for('user.findUser',username=track.createdBy)}}">{{track.createdBy}}</a></h5>
    
    {% if current_user.username == track.createdBy %}
      <a href="{{ url_for('track.del_track', trackID = track.id)  }}">Delete Track</a>
    
    {%endif%}
     
    {% if not current_user.is_authenticated %}
    <p> You must <a href="{{ url_for('login.index') }}">log in </a> in order to record layers to this track </p>
    {% endif %}
  </div>
</div>



<div class="row">

      <div id = "layerInfo" class="col s11 offset-s1"> 
          <div id = "layerContainer">
                  {% for layer in track.layers %}
               
                              
                                  <div class = "grey darken-1">{{ layer.layerName}}<br> By: <a href="{{url_for('user.findUser',username=layer.createdBy)}}"> 
                                      {{ layer.createdBy }} </a> 
                                      <br>
                                      {% if current_user.username == layer.createdBy or current_user.username == track.createdBy %}
                                          <a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Permanently delete layer" href="{{ url_for('track.del_layer', trackID = track.id, layerID = layer.layerID)}}"> 
                                          <button class="waves-effect waves-light btn-floating editButton">Del</button></a>
                                      {% endif %}
                                  </div>

                              <li style = "display: none"> {{ layer.layerID }} </li>
                              <li style = "display: none" class="path"> {{layer.layerPath}}  </li>
                              <li  style = "display: none" class="startTime">{{layer.startTime}} </li>

                              
                  {% endfor %}
           </div>
           <div id="wave"></div>
      </div>
</div>


<div id="playPanel">
    <button id="playButton" class= "waves-effect waves-light btn" onclick ="togglePlay()">Play</button>
    {% if current_user.is_authenticated %}
    <button id="recordButton" class= "waves-effect waves-light btn" onclick="toggleRecord()">Start Recording</button>
    {% endif %}
</div>


<!-- MODAL --> 
  <div id="modal1" class="modal">
    <div class="modal-content">

       <div class="input-field">
      <h3 class="center-align">Enter layer name to save</h3>
      <input class = "validate"  type="text" id = "layerName" placeholder ="e.g. Tenor Harmony"/>
      </div>

    </div>
    <div class="modal-footer">
      <button class="waves-effect waves-light btn deep-orange lighten-1" onclick = "postLayer()">Save</button>
    </div>
  </div>



<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 --><!-- <script src="{{ url_for('static', filename='js/jquery-1.11.3.min.js') }}"></script> 
 --><script src="{{ url_for('static', filename='js/wavesurferMyEdits.js') }}"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
 <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/liveRecord.js') }}"></script>
<script src="{{ url_for('static', filename='js/recordCountdown.js') }}"></script>

{% endblock %}