<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='myStyle.css') }}">
<title>Web Audio API</title>
</head>

<body>

 <h2>{{track.trackName}}</h2>
 	<div class="js-data"
 		data-id="{{ track.id }}"
 	></div>
 	<ul class=" and Times">
	 	{% for layer in track.layers %}
	 		<li> {{ layer.layerName }} </li>
	 		<li> {{ layer.layerID }} </li>
	 		<li> {{ layer.createdBy }} </li>
	 		<li class="path"> {{layer.layerPath}}  </li>
	 		<li class="startTime">{{layer.startTime}} </li>

	 		{% if current_user.username == layer.createdBy %}
	 		<a href="{{ url_for('track.del_layer', trackID = track.id, layerID = layer.layerID)  }}"> 
	 			<button>Delete Layer</button></a>
	 		{% endif %}
	 		
	 	{% endfor %}
 	</ul>

  
  <button id="playButton" onclick ="togglePlay()">Start/Stop</button>
<input id="location" type="range"  min="0" max="100" value="0"/>

<button onclick="toggleRecord()">Start/Stop Recording</button>

<button onclick="playbackRecorderAudio()">Playback Recording</button>
<button onclick="layerRecording()">Upload Recording</button>
<button onclick="postLayer()">Post Recording</button>


<!-- <form id = "saveForm" action="{{ url_for('track.save_layer', trackID = track.id) }}" method = "post">
  Layer Name:<br>
  <input type="text" placeholder = "i.e. Tenor Harmony" name="layerName" required />
  <button type="submit">Save Layer</button>
</form>  -->




<div id="VolumeBox">Volume Tracks</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/bufferloader.js') }}"></script>
 <script src="{{ url_for('static', filename='js/loadAndPlay.js') }}"></script>
 <script src="{{ url_for('static', filename='js/recorder.js') }}"></script>
<script src="{{ url_for('static', filename='js/liveRecord.js') }}"></script>
<script src="{{ url_for('static', filename='js/recordCountdown.js') }}"></script>
<script src="{{ url_for('static', filename='js/setViewVolume.js') }}"></script>


</body>
</html>

